@model Lab1.Models.Book

@{
    ViewData["Title"] = "Create Book";
}

<h1>Create Book</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Isbn" class="form-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Genre" class="form-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PublishYear" class="form-label"></label>
                <input asp-for="PublishYear" class="form-control" />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TotalCopies" class="form-label"></label>
                <input asp-for="TotalCopies" class="form-control" />
                <span asp-validation-for="TotalCopies" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AvailableCopies" class="form-label"></label>
                <input asp-for="AvailableCopies" class="form-control" />
                <span asp-validation-for="AvailableCopies" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
